*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: hsl(212, 45%, 89%); */
}
body{
    background-color:hsl(212, 45%, 89%);
}

h1{
    font-family: "Outfit", sans-serif;
    font-weight: 400 700;
    font-style: normal;
    font-size: 1rem;
    
}
p {
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    font-family: "Outfit", sans-serif;
    font-weight: 400 700;
}
.main{
   
    border: 2px solid hsl(212, 45%, 89%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-right:450px;
    margin-left: 450px; 
    /* margin-top: 5%; */
    /* margin:20%; */
    width:30%;
    max-width:100%;
    overflow:hidden;
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    padding-top: 1rem;
    
}
.img{
    border-radius: 1rem;
    
}
.content{
    width: 16rem;
    background-color: blue;
}

@media(max-width:780px){
.img{
    width: 375px;
}
}